@import "colors";

@mixin card-common() {
    background-color: white;
    padding: 18px;
    margin: 9px 2px;
    min-height: 250px;
    /*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
}

.card {
    @include card-common();
    border-radius: 3px;

    h2 {
        color: $purple;
    }

    a {
        border-bottom: 1px dashed $light-gray;
        padding-bottom: 6px;

        &:hover, &:focus {
            text-decoration: none;
            border-bottom: 1px dashed $purple;
            color: $purple;
        }
    }
}

.modal {
    h2 {
        color: $purple;
    }

    .modal-table-body {
        max-height: 50vh;
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .modal-table-row {
        & > div {
            word-break: break-word;
        }
    }
}

.card-sq {
    @include card-common();
    border-radius: 0;
}

@media (min-width: 768px) {
    .container-fluid {
        max-width: 760px;
    }
}
@media (min-width: 992px) {
    .container-fluid {
        max-width: 980px;
    }
}

@media (max-width: 1200px) {
    .container-fluid {
        max-width: 1190px;
    }
}


@media (min-width: 1201px) {
    .container-fluid {
        max-width: 98%;
    }
}

#releaseView, #buildView {
    .card {
        min-height: 100px;
        margin: {
            top:21px;
            bottom:21px;
        } 
    }
}

.the-famous-or {
    font-size: 12vh;
    color: #bb97ef;
    font-style:italic;
    user-select:none;
}

.col-md-1pt5{
    max-width:16%;
}

@mixin button-common() {
    padding: 10px 14px;
    border-radius: 31px;
}

.button {
    @include button-common();
    @include border-color-gradient(right, $amin);
    background-color: white;
    color: #8e2de2;

    &:hover {
        background-color: white;
    }
}

.button-dark {
    @include button-common();
    @include linear-gradient(right, $amin);
    border: 1px solid white;
    color: white;

    &:hover, &:focus {
        color: white;
        opacity: 0.9;
        @include linear-gradient(right, $amin);
    }
}

.button-dark-inverse {
    @include button-common();
    background-color: white;
}

.button-inverse {
    @include button-common();
    background-color: transparent;
    border: 1px solid white;
    color: white;

    &:hover, &:focus {
        background-color: transparent;
        color: white;
        opacity: 0.9;
    }
}

.bg-gradient {
    @include linear-gradient(right, $amin);
    color: white;
}

.modal-body{
    padding-top:0;
}

.modal-table-header {
    padding:18px 9px;
    margin-bottom: 9px;
}

.modal-table-row {
    padding: 9px;
}

.trigger-conditions {
    margin-left: 14px;
    border-left: 4px solid rgba(133, 39, 226, 0.18823529411764706);
    margin-top: 9px;
    margin-bottom: 9px;
    div {
        padding-left: 9px;
        img{
            margin-left: 4px;
        }
    }
}

.triggers, .artifacts, .queue-triggers, .card-content {
    div.row {
        div {
            padding-top: 3px;
            padding-bottom: 3px;
            line-height: 30px;

            &:last-child {
                padding-left: 24px;
            }
        }
    }
}

/* 
 * AT A GLANCE 
 */
.at-a-glance {
    img {
        margin-top: -5px;
    }

    span {
        font-size: x-large;
    }

    .row {
        padding: {
            top: 9px;
            bottom: 9px;
        }
    }
}

/* env sliders */
.environment-slider-buttons{
    margin-top: 16px;
}

.row-padding {
    padding: {
        top: 9px;
        bottom: 9px;
    }
}


.come-in {
    transform: translateY(150px);
    animation: come-in 0.8s ease forwards;
}

.come-in:nth-child(odd) {
    animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in {
    to {
        transform: translateY(0);
    }
}

.upload-partial {
    .file-upload-control {
        padding: 9px 0;

        div.row {
            div.col-lg-6 {
                label[for='buildJsonUploadControl'] {
                    padding: 10px 21px;
                }

                @media (min-width: 992px) {
                    &:first-child {
                        padding-right: 0;
                    }

                    &:last-child {
                        padding-left: 0;
                    }
                }

                @media (max-width: 992px) {
                    label {
                        margin: 6px 0;
                    }
                }
            }
        }

        input[type=submit] {
            margin-top: 12px;
        }

        label.text-muted {
            font-size: smaller;
            font-weight: 100;
        }
    }
}

.nothingFound-partial {
    img {
        padding:{
            top:9px;
            bottom: 9px;
        }
        @media (min-width: 768px) {
            margin-top: 9px;
        }
    }
}