@import "colors";
@import "fonts";

/*
 *************
 ** General **
 *************
 */


html {
    position: relative;
    min-height: 100%;
}
body {
    @include linear-gradient(right, $amin);
    margin-bottom: 40px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

