@import "colors";
@import "fonts";

/*
 *************
 ** General **
 *************
 */


html {
    position: relative;
    min-height: 100%;
}
body {
    @include linear-gradient(right, $amin);
    margin-bottom: 74px;
    color: #757575;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/* build and release todo: move this to individual file */


.page-icon{
    margin-right:9px;
}

.buffer{
    margin-right:18px;
    display: inline-block;
}

.phase {
    padding: 4px 0;

    h3 {
        color: #757575;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: medium;
    }

    .phase-meta {
        padding: 9px 0 18px 0;
    }

    .steps {
        .row {
            padding: 9px 0;
            border-top: 1px dashed #f3f3f3;
            margin: 0 4px 0 0;

            @media (min-width: 768px) {
                margin: 0 4px;
            }

            &:last-child {
                border-bottom: 1px dashed #f3f3f3;
            }
        }
    }
}

.environment-slider {
    .env-meta {
        padding: 9px 0 9px 0;
    }
}
.slick-slide img {
    display: inline-block;
}
.highlight-div {
    padding: 1px 0px 0px 8px;
    border-left: 6px solid #82a0a0;
    margin-left: 4px;
}

.environment-slider {
    .phase {
        margin-left: 18px;
    }

    .steps {
        width: 89%;

        @media (min-width: 768px) {
            width: 94%;
        }
    }
}