.nav {
    padding: 8px 15px;
    margin-bottom: 18px;
    background-color: white;

    @media (min-width: 768px) {
        padding: 8px 27px;
    }

    div.row {
        div.brand:first-child {
            div {
                display: inline-block;
                vertical-align: middle;

                img {
                    margin-right: 9px;

                    @media (max-width: 767px) {
                        width: 55px;
                    }
                }
            }
        }

        .brand {
            @media (max-width: 767px) {
             padding-top:2px;
            }
        }

        div:last-child {
            div.row {
                margin-top: 6px;

                a {
                    img {
                        margin: 3px 12px 0 -2px;
                    }
                }
            }
        }
    }

    #siteLogo {
        cursor: pointer;
    }
}
